<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <h1>The Twelve-Dog App</h1>
        </div>
        <div class="row text-left" id="environment">
            <h2>Environment</h1>
        </div>
    </div>
    <div class="random-dog-div">
        <h2>Random Dog</h2>
        <button class="button" onclick="randomDog()">Next Doggo</button>
        <button class="button" onclick="addDog()">Add to Collection</button> 
        <div class="dog-container" id="dog-container">
            <img id="random-dog" src="" alt="">
        </div>

        
    </div>
    
    <h2>Dog Collection (From Database)</h2>
    <div class="dogs-container" id="dogs-container">
    </div>
    <script src="js/calls.js"></script>
</body>
</html>