<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <h1>The Twelve-Dog App</h1>
        </div>
        <div class="row text-left" id="environment">
            <h2>Environment</h1>
        </div>
    </div>
    
    <div class="dog-container" id="dog-container">
        <img id="random-dog" src="" alt="">
    </div>
    <button onclick="randomDog()">Next</button>
    <button onclick="addDog()">Add</button>
    
    
    <h2>Your Dog Collection</h2>
    <div class="dogs-container" id="dogs-container">
    
    </div>
    

    <script src="js/calls.js"></script>
</body>
</html>