.dog-container{
    border: 3px solid coral;
    width: 400px;
    height: 400px;
    background: #d4d0c8;
    line-height: 400px;
    text-align: center;
}
.dog-container img {
    max-width:400px;
    max-height:400px;
    vertical-align: middle;
}

.dogs-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.dogs-container img{
    width: 100%;
}